<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>05-05</title>
  <style>
    .set1 { background-color: aqua; color: purple; }
    .set2 { text-align: center; width: 120px; }
    .set3 { border: sandybrown dashed 1px; }
  </style>
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
  <div id="example">
    <button id="btn1" v-bind:class="mystyle">Button</button>
    <p>
      <input type="checkbox" v-model="mystyle.set1" value="true" />set1 Design<br/>
      <input type="checkbox" v-model="mystyle.set2" value="true" />set2 Design<br/>
      <input type="checkbox" v-model="mystyle.set3" value="true" />set3 Design<br/>
    </p>
  </div>
  <script type="text/javascript">
    var vm = new Vue({
      el: '#example',
      data: {
        mystyle: {
          set1: false,
          set2: false,
          set3: false
        }
      }
    });
  </script>
</body>
</html>